<html>
	<head>
		<title>VALENTINA</title>
	</head>
	<body>
		<div>
			<h1><a href="">DJANGO GIRLS</a></h1>
		</div>

		<div>
			<p>published: 29.10.2016, 18.14</p>
			<h2><a href="MI PRIMER POST"></a></h2>
			<p>Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design. </p>
		</div>	
		
		<div>
			<p>published: 29.10.2016, 18.15</p>
			<h2><a href="MI SEGUNDO POST"></a></h2>
			<p>Django was designed to help developers take applications from concept to completion as quickly as possible.</p>
		</div>
	</body>
</html>